* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

:root {
    --dark-color: #101010;
    --default-font-color: #ffffff;
}

body {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

form.d-grid,
.main-container.d-grid {
    grid-template-columns: 1fr 1fr;
}

.form-image img {
    height: 100vh;
    width: 100%;
}

.form-fields {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 5rem;
    padding-bottom: 2.5rem;
    font-weight: 600;
}

.form-input {
    width: 40%;
}

.form-input input{
    background: none;
    border: 1px solid var(--dark-color);
    padding: .5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 8px;
}

.primary-btn[type="submit"] {
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #407BFF;
    border: none;
    color: #ffffff;
}

.error-msg {
    color: crimson;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    margin: 0 1rem;
}